a {
    cursor: pointer;
    text-decoration: none;
    transition: transform .1s;
}

a.button {
    background-color: #3e4d9f;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-transform: uppercase;
}

a.link {
    color: #252525;
    padding: 10px;
    text-transform: uppercase;
}

a:hover {
    transform: scale(1.05);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px;
    margin: 0;
    min-height: 100vh;
}

body * {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    color: black;
    font-weight: 400;
    line-height: 1.3em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1em;
}

html {
    min-height: 100vh;
}

img {
    max-width: 100%;
    width: fit-content;
}

img.rounded {
    border-radius: 6px;
}

img.shadowed {
    box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2)
}

p {
    padding: 25px 0;
}

p, ul {
    color: #808080;
    line-height: 2em;
    font-weight: 300;
}

section {
    align-items: stretch;
    font-size: 1em;
    padding: 100px 40px;
}

/* ----------------------- HEADER ----------------------- */

header {
    align-items: center;
    flex-direction: row;
    font-size: .8em;
    padding: 8px;
}

header #header-links {
    flex-direction: row;
}

header #login-button {
    background-color: white;
    color: black;
}

header #logo-container {
    flex: 1;
    flex-direction: row;
}

header a {
    margin: 5px 15px;
}

header img {
    height: 24px;
    padding: 10px;
    width: unset;
}

/* ----------------------- CONTENT ----------------------- */

section .box {
    border: 1px solid #ececec;
    border-radius: 6px;
}

section div.side-by-side {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

section div.side-by-side>div {
    align-items: flex-start;
}

section div.side-by-side>div:first-child {
    margin-right: 20px;
}

section div.side-by-side>div:last-child {
    margin-left: 20px;
}

section div.side-by-side.left-text>div:first-child {
    flex: 1;
}

section div.side-by-side.left-text>div:last-child {
    flex: 1.4;
}

section div.side-by-side.right-text>div:first-child {
    flex: 1.4;
}

section div.side-by-side.right-text>div:last-child {
    flex: 1;
}

/* ----------------------- HERO ----------------------- */

#hero {
    background-color: #3e4d9f;
    color: white;
}

#hero #play-example-cta {
    align-self: center;
    padding-top: 20px;
}

#hero a.button {
    background-color: white;
    color: #3e4d9f;
    margin-bottom: 25px;
}

#hero h1 {
    color: white;
}

#hero p {
    color: white;
}

/* ----------------------- WHY ----------------------- */
#why {
    background-color: #fafafa;
}

#why #questions {
    flex-direction: row;
}

#why #feature-cards {
    flex-direction: row;
}

#why #questions h2 {
    font-size: 1.3em;
    font-weight: 400;
}

#why #feature-cards div.feature-card, #why #questions h2 {
    background-color: white;
    flex: 1;
    flex-direction: row;
    margin: 16px;
    padding: 26px;
}

#why #feature-cards div.feature-card>div {
    flex-direction: column;
}

#why #feature-cards div.feature-card>div:first-child {
    flex: 1;
    padding-right: 10px;
}

#why #feature-cards div.feature-card>div:last-child {
    flex: 6;
}

#why #feature-cards div.feature-card h4 {
    font-weight: 400;
}

#why #feature-cards div.feature-card i.material-icons {
    color: #3e4d9f;
    font-size: 44px;
}

#why #feature-cards div.feature-card p {
    color: #666666;
}

#why h1 {
    text-align: center;
    padding: 15px 0;
}

/* ----------------------- HIGHLIGHTS ----------------------- */

#highlights {
    background-color: white;
    border-top: 1px solid #ebebeb;
}

#highlights div.side-by-side {
    padding-bottom: 100px;
}

/* ----------------------- MOBILE READY ----------------------- */

#mobile-ready {
    background-color: #3e4d9f;
    color: white;
}

#mobile-ready h2 {
    color: white;
    text-align: center;
}

#mobile-ready img {
    align-self: center;
}

/* ----------------------- CALL TO ACTION ----------------------- */

#call-to-action h2, #call-to-action2 h2 {
    margin-bottom: 80px;
    text-align: center;
}

#call-to-action a.button, #call-to-action2 a.button {
    align-self: center;
}

/* ----------------------- TESTIMONIALS ----------------------- */

#testimonials {
    align-items: flex-start;
    color: #666666;
    flex-direction: row;
    padding-top: 0;
}

#testimonials div.testimonial {
    flex: 1;
    margin: 0 15px 15px 0;
}

#testimonials div.testimonial p {
    padding: 0 10px;
}

#testimonials div.testimonial p strong {
    font-weight: 400;
}

#testimonials div.testimonial p.testimonial-text {
    background-color: #fafafa;
    padding: 26px;
}

#testimonials div.testimonial div.testimonial-user {
    padding: 10px 0;
}

/* ----------------------- SCHOOLS ----------------------- */

#schools {
    background-color: #252525;
}

#schools h2, #schools h4, #schools p {
    color: white;
}

#schools h2 {
    margin-bottom: 80px;
    text-align: center;
}

#schools h4 {
    font-weight: 400;
    margin-top: 20px;
}

#schools #schools-features {
    flex-direction: column;
}

#schools #schools-features div.features-block {
    flex-direction: row;
    justify-content: space-evenly;
}

#schools #schools-features div.schools-feature {
    flex-direction: column;
    margin: 0 15px;
    max-width: 300px;
}

#schools #schools-features div.schools-feature img {
    max-width: 300px;
}

/* ----------------------- PRICING CALL-TO-ACTION ----------------------- */

#pricing-cta {
    background-color: #fafafa;
}

#pricing-cta h1, #pricing-cta h2 {
    text-align: center;
}

#pricing-cta h1 {
    font-size: 2.5em;
}

#pricing-cta h2 {
    color: #808080;
    font-size: 1.6em;
    padding: 20px 0;
}

/* ----------------------- PLANS ----------------------- */

#plans {
    align-items: flex-start;
    border-top: 1px solid #ebebeb;
    flex-direction: row;
    justify-content: space-evenly;
}

#plans div.plan {
    max-width: 360px;
    margin: 0 15px;
    padding: 40px;
}

#plans div.plan div.plan-price {
    padding-bottom: 20px;
}

#plans div.plan div.plan-price h3 {
    font-size: 1.5em;
    font-weight: 300;
}

#plans div.plan div.plan-price span {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 2em;
}

#plans div.plan div.plan-price p {
    font-size: .7em;
    padding: 0;
}

#plans div.plan div.plan-features {
    border-top: 1px solid #ebebeb;
    font-size: .9em;
    padding-top: 20px;
}

#plans div.plan div.plan-features li {
    align-items: center;
    flex-direction: row;
    line-height: 1.5em;
    padding: 10px 0;
}

#plans div.plan div.plan-features li i {
    color: #3e4d9f;
    margin-right: 10px;
}

#plans div.plan div.plan-features li.highlight {
    font-weight: 500;
}

#plans div.plan div.plan-features p {
    padding: 0;
}

#plans div.plan div.plan-features a {
    margin-top: 20px;
}

/* ----------------------- TERMS ----------------------- */

#terms {
    font-size: .8em;
}

#terms h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
}

#terms h3 {
    font-size: 1em;
}

#terms p {
    padding: 10px 0;
    display: unset;
}

#terms p a {
    display: inline;
}

/* ----------------------- ERROR ----------------------- */

#error {
    align-self: center;
    flex: 1;
}

#error div.message-wrapper {
    flex-direction: row;
    padding: 30px;
}

#error div.message-wrapper div.message a {
    font-size: .8em;
    margin-top: 20px;
}

#error div.message-wrapper div.message {
    align-items: flex-start;
}

#error div.message-wrapper div.message h1 {
    color: #252525;
}

#error div.message-wrapper i {
    font-size: 2em;
    margin: 5px 15px 0 0;
}

/* ----------------------- FOOTER ----------------------- */

footer {
    background-color: #252525;
    font-size: .8em;
}

footer #copyright {
    color: #7f7f7f;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
}

footer #copyright span {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 7px 0;
}

footer #footer-links {
    flex-direction: row;
    padding: 20px 20px;
}

footer #footer-links>div {
    align-items: flex-start;
    flex-direction: column;
    min-width: 300px;
}

footer #footer-links a.link {
    font-weight: 200;
}

footer a.link {
    color: #d3d3d3;
}

/* ----------------------- MEDIA ----------------------- */

@media (max-width: 1024px) {
    #testimonials {
        align-items: stretch;
        flex-direction: column;
    }

    h1 {
        font-size: 2em;
    }
    
    h2, #pricing-cta h1 {
        font-size: 1.5em;
    }
    
    h3, #pricing-cta h2 {
        font-size: 1.2em;
    }
    
    h4 {
        font-size: 1em;
    }

    section {
        padding: 60px 15px;
    }

    #schools #schools-features {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #schools #schools-features div.features-block {
        flex-direction: column;
    }

    #plans div.plan {
        padding: 20px;
    }
}


@media (max-width: 768px) {
    section div.side-by-side, #why #questions, #why #feature-cards, footer #footer-links, footer #copyright {
        align-items: stretch;
        flex-direction: column;
    }

    section div.side-by-side>div:first-child {
        margin-right: 0;
    }
    
    section div.side-by-side>div:last-child {
        margin-left: 0;
    }

    section div.side-by-side.right-text>div:first-child {
        order: 2;
    }

    section div.side-by-side.right-text>div:last-child {
        order: 1;
    }

    #testimonials div.testimonial {
        margin-bottom: 25px;
    }

    #schools #schools-features {
        flex-direction: column;
    }

    #schools #schools-features div.features-block {
        align-items: center;
    }

    #plans {
        align-items: stretch;
        flex-direction: column;
    }

    #plans div.plan {
        max-width: unset;
    }

    #plans div.plan {
        margin-bottom: 15px;
    }

    #plans div.plan:last-child {
        margin-bottom: unset;
    }

    footer #copyright {
        text-align: center;
    }
}

@media (max-width: 675px) {
    header #header-links {
        display: none;
    }
}